* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #131415;
    color: white;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

#content {
    margin: auto;
    text-align: center;
}

.fa-twitter {
    color: #55acee;
}

.mafia-twitter {
    padding: 0.7em;
    font-size: 2.5em !important;
}

.fa-youtube-play {
    color: #e52d27;
}

.mafia-youtube {
    padding: 0.7em;
    font-size: 2.5em !important;
}

.logo {
    max-width: 55vw;
}

@media (max-width: 992px) {
  .logo {
    max-width: 70vw;
  }
}

@media (max-width: 500px) {
  .logo {
    max-width: 90vw;
  }
}
